@using Microsoft.Extensions.Configuration;

@{
    ViewData["Title"] = "Home";
}

@inject IConfiguration Configuration
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (await UserManager.IsInRoleAsync(await UserManager.GetUserAsync(User), "Administrator"))
{
    <div class="row">
        <div class="column">
            <a asp-controller="Admin" asp-action="@nameof(AdminController.Index)" class="button button-outline">
                <i class="fa fa-sliders" aria-hidden="true"></i>&nbsp;
                Admin panel (beta)
            </a>
        </div>
    </div>
}

<div class="row">
    <div class="column">
        <a asp-controller="Manage" asp-action="@nameof(ManageController.EditUserInfo)" class="button button-outline">
            <i class="fa fa-id-card-o" aria-hidden="true"></i>&nbsp;
            Edit your profile
        </a>
    </div>
</div>
<div class="row">
    <div class="column">
        <a asp-controller="Manage" asp-action="@nameof(ManageController.Logins)" class="button button-outline">
            <i class="fa fa-address-book-o" aria-hidden="true"></i>&nbsp;
            Manage existing logins
        </a>
    </div>
</div>
<div class="row">
    <div class="column">
        <a asp-controller="Account" asp-action="@nameof(AccountController.Login)" class="button button-outline">
            <i class="fa fa-key" aria-hidden="true"></i>&nbsp;
            Add more login methods
        </a>
    </div>
</div>
@if (Int32.Parse(Configuration["PwdLess:Events:MaxStored"]) > 0)
{
    <div class="row">
        <div class="column">
            <a asp-controller="Manage" asp-action="@nameof(ManageController.History)" class="button button-outline">
                <i class="fa fa-history" aria-hidden="true"></i>&nbsp;
                Account history
            </a>
        </div>
    </div>
}
