@using Microsoft.Extensions.Configuration;
@{
    ViewData["Title"] = "Your code has been sent.";
}

@inject IConfiguration Configuration
@model TokenInputViewModel

<div class="row">
    <div class="column">
        <h3 class="text-success">@ViewData["Title"]</h3>
        @if (String.IsNullOrWhiteSpace(Model.Token))
        {
            @:Please check your email now.
        }
        else
        {
            <span style="font-weight: bold; font-size: 1.8rem;">Press "Check code" to continue</span>
        }

    </div>
</div>

<div class="row">
    <form asp-action="@nameof(AccountController.TokenInput)" id="main-form" method="post" role="form" class="column">
        <div asp-validation-summary="All" class="text-danger"></div>

        <input asp-for="RememberMe" type="hidden" value="@Model.RememberMe" />
        <input asp-for="ReturnUrl" type="hidden" value="@Model.ReturnUrl" />
        <input asp-for="Email" type="hidden" value="@Model.Email" />
        <input asp-for="Purpose" type="hidden" value="@Model.Purpose" />


        <label asp-for="Token"></label>
        <input asp-for="Token" />

        <button type="submit" class="button button-primary g-recaptcha"
                data-sitekey="@Configuration["Recaptcha:SiteKey"]"
                data-callback="onSubmit">
            <i class="fa fa-key" aria-hidden="true"></i>&nbsp;
            Check Code
        </button>

    </form>

</div>
@section Scripts {
    <script src='https://www.google.com/recaptcha/api.js'></script>

    <script>
        function onSubmit(token) {
            document.getElementById("main-form").submit();
        }
    </script>

    @await Html.PartialAsync("_ValidationScriptsPartial")
}
