@model LoginsViewModel
@{
    ViewData["Title"] = "Manage your external logins";
}

<div class="row">
    <div class="column">
        <h3 style="display:inline;">My existing logins</h3>
        <a asp-controller="Account" asp-action="Login" class="button button-clear float-right">
            <i class="fa fa-key" aria-hidden="true"></i>&nbsp;
            Add more login methods
        </a>
    </div>
</div>

<br />

@foreach (var login in Model.Logins)
{
    <div class="row">
        <div class="column">
            @login.ProviderDisplayName

            @if (login.LoginProvider == "Email")
            {
                <span>(@login.ProviderKey.ToLower().Substring(0, Math.Min(20, login.ProviderKey.Length)))</span>
            }
            else
            {
                <span>(@login.ProviderKey.Substring(0, Math.Min(5, login.ProviderKey.Length)))</span>
            }

        </div>
        <div class="column">
            <form asp-action="@nameof(ManageController.RemoveLogin)" method="post">
                <input asp-for="@login.LoginProvider" name="LoginProvider" type="hidden" />
                <input asp-for="@login.ProviderKey" name="ProviderKey" type="hidden" />
                @if (Model.Logins.Count == 1 || 
                    (Model.Logins.Where(l => l.LoginProvider == "Email").Count() == 1 && login.LoginProvider == "Email"))
                {
                    <button type="submit" class="button button-clear"
                            style="margin:0px;padding:0px;"
                            title="Permanently delete your account">
                        <i class="fa fa-trash-o" aria-hidden="true"></i>&nbsp;
                        Delete Account&nbsp;
                        <small class="text-danger">(No undo)</small>
                    </button>
                }
                else
                {
                    <button type="submit" class="button button-clear"
                            style="margin:0px;padding:0px;"
                            title="Remove this @login.LoginProvider login from your account">
                        <i class="fa fa-trash-o" aria-hidden="true"></i>&nbsp;
                        Remove
                    </button>
                }
            </form>
        </div>
    </div>
}



